body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:603px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:747px;
  width:1200px;
  height:603px;
  display:flex;
  opacity:0.5;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:800px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:1199px;
  height:800px;
  display:flex;
  opacity:0.5;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:800px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:1199px;
  height:800px;
  display:flex;
  opacity:0.5;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:603px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:885px;
  width:1200px;
  height:603px;
  display:flex;
  opacity:0.5;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:766px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1488px;
  width:1200px;
  height:766px;
  display:flex;
  opacity:0.5;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Constantia Bold Italic', 'Constantia';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  vertical-align:super;
  text-align:center;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:152px;
  width:1141px;
  height:161px;
  display:flex;
  font-family:'Constantia Bold Italic', 'Constantia';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  vertical-align:super;
  text-align:center;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:235px;
  width:400px;
  height:400px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:30px;
  text-align:center;
  line-height:39px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:523px;
  width:1141px;
  height:239px;
  display:flex;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:30px;
  text-align:center;
  line-height:39px;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1200px;
  height:85px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:85px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:85px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:22px;
  width:50px;
  height:42px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:15px;
  width:131px;
  height:58px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:524px;
  height:82px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:106px;
  width:90px;
  height:37px;
  display:flex;
  font-size:30px;
  color:#000000;
}
#u93 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:524px;
  height:82px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:188px;
  width:289px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:524px;
  height:82px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:270px;
  width:289px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:331px;
  width:524px;
  height:82px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:352px;
  width:289px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:524px;
  height:82px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:434px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:524px;
  height:82px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:516px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:577px;
  width:524px;
  height:82px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:598px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:659px;
  width:524px;
  height:82px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:680px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:741px;
  width:524px;
  height:82px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:762px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:823px;
  width:524px;
  height:82px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:844px;
  width:437px;
  height:37px;
  display:flex;
  font-size:30px;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:23px;
  width:50px;
  height:40px;
  display:flex;
  color:#FFFFFF;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:14px;
  width:156px;
  height:58px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:895px;
  width:1127px;
  height:579px;
}
#u123_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:579px;
  overflow:auto;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:603px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2254px;
  width:1200px;
  height:603px;
  display:flex;
  opacity:0.5;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
  text-align:center;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:823px;
  width:1122px;
  height:68px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
  text-align:center;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:90px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1510px;
  width:1059px;
  height:103px;
  display:flex;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:90px;
}
#u126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:337px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1663px;
  width:348px;
  height:337px;
  display:flex;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1670px;
  width:540px;
  height:58px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1727px;
  width:575px;
  height:238px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:underline ;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1965px;
  width:462px;
  height:34px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:underline ;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:346px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:2056px;
  width:348px;
  height:346px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:2057px;
  width:617px;
  height:58px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:2116px;
  width:578px;
  height:306px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:376px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:2464px;
  width:348px;
  height:376px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:2464px;
  width:803px;
  height:129px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:2593px;
  width:578px;
  height:204px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u75.a {
  left:0px;
  top:1199px;
  width:375px;
  height:244px;
}
#u75_img.a {
  width:375px;
  height:244px;
}
#u75.a {
  left:0px;
  top:1199px;
  width:375px;
  height:244px;
}
#u75_text.a {
}
#u75 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.a {
  left:0px;
  top:981px;
  width:375px;
  height:218px;
}
#u76_img.a {
  width:375px;
  height:218px;
}
#u76.a {
  left:0px;
  top:981px;
  width:375px;
  height:218px;
}
#u76_text.a {
}
#u76 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u77.a {
  top:30px;
  width:375px;
  height:218px;
}
#u77_img.a {
  width:375px;
  height:218px;
}
#u77.a {
  top:30px;
  width:375px;
  height:218px;
}
#u77_text.a {
}
#u77 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.a {
  top:248px;
  width:375px;
  height:214px;
}
#u78_img.a {
  width:375px;
  height:214px;
}
#u78.a {
  top:248px;
  width:375px;
  height:214px;
}
#u78_text.a {
}
#u78 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.a {
  top:462px;
  width:375px;
  height:275px;
}
#u79_img.a {
  width:375px;
  height:275px;
}
#u79.a {
  top:462px;
  width:375px;
  height:275px;
}
#u79_text.a {
}
#u79 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.a {
  left:0px;
  top:41px;
  width:375px;
  height:132px;
}
#u80_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Constantia Bold Italic', 'Constantia';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  vertical-align:super;
  text-align:center;
}
#u80.a {
  left:0px;
  top:41px;
  width:375px;
  height:132px;
}
#u80_text.a {
}
#u80 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u81.a {
  left:70px;
  top:123px;
  width:234px;
  height:189px;
}
#u81_img.a {
  width:234px;
  height:189px;
}
#u81.a {
  left:70px;
  top:123px;
  width:234px;
  height:189px;
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.a {
  left:0px;
  top:263px;
  width:375px;
  height:199px;
}
#u82_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:30px;
  text-align:center;
  line-height:39px;
}
#u82.a {
  left:0px;
  top:263px;
  width:375px;
  height:199px;
}
#u82_text.a {
}
#u82 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u83.a {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
}
#u87.a {
  width:375px;
  height:30px;
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87.a {
  width:375px;
  height:30px;
}
#u87_text.a {
}
#u87 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u88.a {
  left:12px;
  top:7px;
  width:16px;
  height:14px;
}
#u88_img.a {
  width:16px;
  height:14px;
}
#u88.a {
  left:12px;
  top:7px;
  width:16px;
  height:14px;
}
#u88_text.a {
}
#u88 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.a {
  left:34px;
  top:5px;
  width:68px;
  height:20px;
}
#u89_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u89.a {
  left:34px;
  top:5px;
  width:68px;
  height:20px;
}
#u89_text.a {
}
#u89 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u92.a {
  top:30px;
  width:164px;
  height:28px;
}
#u92_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92.a {
  top:30px;
  width:164px;
  height:28px;
}
#u92_text.a {
}
#u92 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.a {
  left:4px;
  top:36px;
  width:56px;
  height:14px;
}
#u93_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u93.a {
  left:4px;
  top:36px;
  width:56px;
  height:14px;
}
#u93_text.a {
}
#u93 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u95.a {
  top:58px;
  width:164px;
  height:28px;
}
#u95_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.a {
  top:58px;
  width:164px;
  height:28px;
}
#u95_text.a {
}
#u95 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.a {
  left:4px;
  top:65px;
  width:90px;
  height:14px;
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u96.a {
  left:4px;
  top:65px;
  width:90px;
  height:14px;
}
#u96_text.a {
}
#u96 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u98.a {
  top:86px;
  width:164px;
  height:28px;
}
#u98_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98.a {
  top:86px;
  width:164px;
  height:28px;
}
#u98_text.a {
}
#u98 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.a {
  left:4px;
  top:92px;
  width:112px;
  height:14px;
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u99.a {
  left:4px;
  top:92px;
  width:112px;
  height:14px;
}
#u99_text.a {
}
#u99 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u101.a {
  top:114px;
  width:164px;
  height:28px;
}
#u101_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101.a {
  top:114px;
  width:164px;
  height:28px;
}
#u101_text.a {
}
#u101 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u102.a {
  left:4px;
  top:122px;
  width:137px;
  height:14px;
}
#u102_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u102.a {
  left:4px;
  top:122px;
  width:137px;
  height:14px;
}
#u102_text.a {
}
#u102 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u104.a {
  top:142px;
  width:164px;
  height:28px;
}
#u104_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104.a {
  top:142px;
  width:164px;
  height:28px;
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.a {
  left:4px;
  top:150px;
  width:160px;
  height:14px;
}
#u105_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u105.a {
  left:4px;
  top:150px;
  width:160px;
  height:14px;
}
#u105_text.a {
}
#u105 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u107.a {
  top:170px;
  width:164px;
  height:28px;
}
#u107_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107.a {
  top:170px;
  width:164px;
  height:28px;
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.a {
  left:4px;
  top:177px;
  width:137px;
  height:14px;
}
#u108_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u108.a {
  left:4px;
  top:177px;
  width:137px;
  height:14px;
}
#u108_text.a {
}
#u108 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u110.a {
  top:198px;
  width:164px;
  height:28px;
}
#u110_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110.a {
  top:198px;
  width:164px;
  height:28px;
}
#u110_text.a {
}
#u110 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u111.a {
  left:4px;
  top:206px;
  width:137px;
  height:14px;
}
#u111_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u111.a {
  left:4px;
  top:206px;
  width:137px;
  height:14px;
}
#u111_text.a {
}
#u111 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u113.a {
  top:226px;
  width:164px;
  height:28px;
}
#u113_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113.a {
  top:226px;
  width:164px;
  height:28px;
}
#u113_text.a {
}
#u113 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u114.a {
  left:4px;
  top:234px;
  width:137px;
  height:14px;
}
#u114_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u114.a {
  left:4px;
  top:234px;
  width:137px;
  height:14px;
}
#u114_text.a {
}
#u114 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u116.a {
  top:254px;
  width:164px;
  height:28px;
}
#u116_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116.a {
  top:254px;
  width:164px;
  height:28px;
}
#u116_text.a {
}
#u116 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u117.a {
  left:4px;
  top:263px;
  width:137px;
  height:14px;
}
#u117_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u117.a {
  left:4px;
  top:263px;
  width:137px;
  height:14px;
}
#u117_text.a {
}
#u117 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u119.a {
  top:282px;
  width:164px;
  height:28px;
}
#u119_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.a {
  top:282px;
  width:164px;
  height:28px;
}
#u119_text.a {
}
#u119 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u120.a {
  left:4px;
  top:291px;
  width:137px;
  height:14px;
}
#u120_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u120.a {
  left:4px;
  top:291px;
  width:137px;
  height:14px;
}
#u120_text.a {
}
#u120 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u121.a {
  left:349px;
  top:8px;
  width:16px;
  height:14px;
}
#u121_img.a {
  width:16px;
  height:14px;
}
#u121.a {
  left:349px;
  top:8px;
  width:16px;
  height:14px;
}
#u121_text.a {
}
#u121 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u122.a {
  left:152px;
  top:5px;
  width:57px;
  height:20px;
}
#u122_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u122.a {
  left:152px;
  top:5px;
  width:57px;
  height:20px;
}
#u122_text.a {
}
#u122 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u83_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123.a {
  left:9px;
  top:529px;
  width:358px;
  height:204px;
}
#u123_input.a {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:204px;
}
#u124.a {
  top:737px;
  width:375px;
  height:244px;
}
#u124_img.a {
  width:375px;
  height:244px;
}
#u124.a {
  top:737px;
  width:375px;
  height:244px;
}
#u124_text.a {
}
#u124 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u125.a {
  left:37px;
  top:462px;
  width:306px;
  height:44px;
}
#u125_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
  text-align:center;
}
#u125.a {
  left:37px;
  top:462px;
  width:306px;
  height:44px;
}
#u125_text.a {
}
#u125 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u126.a {
  left:13px;
  top:748px;
  width:362px;
  height:59px;
}
#u126_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Oblique', 'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:oblique;
  font-size:90px;
}
#u126.a {
  left:13px;
  top:748px;
  width:362px;
  height:59px;
}
#u126_text.a {
}
#u126 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u127.a {
  left:9px;
  top:820px;
  width:127px;
  height:125px;
}
#u127_img.a {
  width:127px;
  height:125px;
}
#u127.a {
  left:9px;
  top:820px;
  width:127px;
  height:125px;
}
#u127_text.a {
}
#u127 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u128.a {
  left:147px;
  top:797px;
  width:196px;
  height:23px;
}
#u128_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u128.a {
  left:147px;
  top:797px;
  width:196px;
  height:23px;
}
#u128_text.a {
}
#u128 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u129.a {
  left:147px;
  top:820px;
  width:224px;
  height:78px;
}
#u129_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u129.a {
  left:147px;
  top:820px;
  width:224px;
  height:78px;
}
#u129_text.a {
}
#u129 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u130.a {
  left:147px;
  top:955px;
  width:224px;
  height:15px;
}
#u130_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:underline ;
}
#u130.a {
  left:147px;
  top:955px;
  width:224px;
  height:15px;
}
#u130_text.a {
}
#u130 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u131.a {
  left:9px;
  top:1011px;
  width:127px;
  height:127px;
}
#u131_img.a {
  width:127px;
  height:127px;
}
#u131.a {
  left:9px;
  top:1011px;
  width:127px;
  height:127px;
}
#u131_text.a {
}
#u131 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u132.a {
  left:147px;
  top:990px;
  width:112px;
  height:23px;
}
#u132_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u132.a {
  left:147px;
  top:990px;
  width:112px;
  height:23px;
}
#u132_text.a {
}
#u132 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u133.a {
  left:147px;
  top:1015px;
  width:213px;
  height:135px;
}
#u133_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u133.a {
  left:147px;
  top:1015px;
  width:213px;
  height:135px;
}
#u133_text.a {
}
#u133 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u134.a {
  left:9px;
  top:1203px;
  width:127px;
  height:129px;
}
#u134_img.a {
  width:127px;
  height:129px;
}
#u134.a {
  left:9px;
  top:1203px;
  width:127px;
  height:129px;
}
#u134_text.a {
}
#u134 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u135.a {
  left:147px;
  top:1188px;
  width:213px;
  height:95px;
}
#u135_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:50px;
}
#u135.a {
  left:147px;
  top:1188px;
  width:213px;
  height:95px;
}
#u135_text.a {
}
#u135 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u136.a {
  left:147px;
  top:1236px;
  width:213px;
  height:105px;
}
#u136_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u136.a {
  left:147px;
  top:1236px;
  width:213px;
  height:105px;
}
#u136_text.a {
}
#u136 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
